<!--  <div class="row m-0">-->
<!--    <div class=" b1 col-xl-8 col-lg-8 border col-sm-12 ">-->
<!--      <div class=" b2 row m-0">-->
<!--        <div class="col-xl-12 col-lg-12 h-25 border bg-warning"> </div>-->
<!--        <div class="col-xl-4 col-lg-4 border h-75 col-sm-12 bg-info"></div>-->
<!--        <div class="col-xl-8 col-lg-8 border h-75 col-sm-12 bg-success"></div>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class=" b1 col-xl-4 col-lg-4 border col-sm-12 bg-danger"></div>-->
<!--  </div>-->
<!--<div class="row m-0">-->
<!--  <div class=" b1 col-xl-4 col-lg-4 border col-sm-12 bg-danger"></div>-->
<!--  <div class=" b1 col-xl-8 col-lg-8 border col-sm-12 m-0 ">-->
<!--    <div class=" h-100 row m-0">-->
<!--      <div class="col-xl-12 col-lg-12 h-25 border bg-warning"> </div>-->
<!--      <div class="col-xl-8 col-lg-8 border h-75 col-sm-12 bg-success"></div>-->
<!--      <div class="col-xl-4 col-lg-4 border h-75 col-sm-12 bg-info"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<section>
  <p><span>نام:</span><span>{{user.name}}</span></p>
  <p><span>نام خانوادگی:</span><span>{{user.lastname}}</span></p>
  <p><span>شماره تماس:</span><span>{{user.phone}}</span></p>
  <p><span>ایمیل:</span><span>{{user.email}}</span></p>
  <p *ngIf="isST == true">دانش اموز هست</p>
  <p *ngIf="isST == false">دانش اموز نیست</p>
  <table>
    <thead>
    <tr>
      <th>نام</th>
      <th>نام خانوادگی</th>
      <th>شماره تماس</th>
      <th>ایمیل</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of users">
      <td>{{i.name}}</td>
      <td>{{i.lastname}}</td>
      <td>{{i.phone}}</td>
      <td>{{i.email}}</td>
    </tr>
    </tbody>
  </table>
  <button (click)="sumNumber(100)" class="m-5  px-3">click</button>
  <img *ngFor="let i of imagess" src="assets/icon/star_rate_FILL0_wght400_GRAD0_opsz24.png">
</section>
